@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$font-main:'Roboto', sans-serif;

//Colors

$black:rgba(51, 51, 51,1);
$accent:rgba(236, 27, 46, 1);


//media
$w1400: 1400px;
$w1250: 1250px;
$w1140: 1140px;
$w950: 950px;
$w800: 800px;
$w530: 530px;
$w410: 410px;
